.navigation-wrapper{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    padding: 15px;
}

.logo{
    padding-left: 15rem;
    font-size: 25px;
    font-weight: 700;
    color: rgb(16, 197, 16);
}

.nav{
    text-align: left;
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1.5fr;
    column-gap: 2px;
}

.home-link{
    text-decoration: none;
    color: rgb(16, 197, 16);
    cursor: pointer;
}

.desc-label{
    font-size: 19.2px;
    margin-left: 180px;
    margin-right: 180px;
    text-align: justify;
    margin-top: 32px;
    color: rgb(78, 78, 78);
}